.pagination {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.page-item {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c7c8c9;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    font-size: 12px;

    &:not(:first-child) {
        margin-left: 10px;
    }

    &.active {
        z-index: 3;
        width: 32px;
        height: 32px;
        font-size: 14px;
        color: #a5c9ff;
        box-shadow:
            0 0 0 1px rgba(165, 201, 255, 1),
            0 1px 3px 0 rgba(165, 201, 255, 0.5);
    }
}

.pagination-icons {
    font-size: 13px;
}
