.time-line {
  height: 40px;
}
.brd-right {
  border-right: 1px solid #f4f4f4;
}
.brd-bottom {
  border-bottom: 1px solid #f4f4f4;
  // position: relative;
}

.empty {
  height: 100%;
  width: 2%;
}
.time {
  width: 45px;
}

.test{
  position: relative;
}
.appointment {
  background-color: yellow;
  position: absolute;
  top: 0;
  width: 120px;
  border-radius: 4px;
}
